<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Dlv005.BL.Properties.Settings.dlv_005ConnectionString"
        connectionString="server=localhost;user id=root;database=dlv_005;allowuservariables=True"
        providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>