<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Dlv005.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Dlv005.UI.Properties.Settings.dlv_005ConnectionString"
        connectionString="server=localhost;user id=root;database=dlv_005"
        providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <userSettings>
    <Dlv005.UI.Properties.Settings>
      <setting name="FAHRBERECHTIGUNG3" serializeAs="String">
        <value />
      </setting>
    </Dlv005.UI.Properties.Settings>
  </userSettings>
</configuration>